Body{
    font-family:itim;
    background-color:#EBCC7B;
    color: #003EEB;

}



h1,h2,h3,h4,h5,h6 {
    font-family:"Shrikhand";

}

h1{
    font-size: 40pt;
}

h2{
    text-align: center;
    margin-bottom: -5px;

}

header{
    display: flex;
    text-align: center;
}

.blue-origami-logo{
   
    margin-left: 0;

}

h1{
    align-content: center;
    text-align: center;

}
/*hero section*/
#hero,footer{
    
    color:#9C9481;
    border:5px double #2449AD  ;
    border-radius:20px;
    margin:40px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    background-color:#4A4129 ;
    padding: 20px;

}

#hero img{
    
    width:250px;
}

/* bio setion*/
#bio {
    border:3px solid #2449AD;
    text-align: center ;
    margin:40px;


}


/* Hobbies */

#hobbies{

    border:3px solid #2449AD;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


 #hobbies ul li:nth-child(even){
     color: black;
        }
    
 #hobbies ul li:nth-child(odd){
    color: red;
    }
    
 #hobbies ul {
    
    font-size: 20px;
        
    }


/* gallery */ 

#gallery {

    border: 3px solid  #2449AD
    
}
#gallery img{

    max-width: 100%;
    border: 5px solid red;
    border-radius: 20px;
    

}

#gallery figure{

    text-align: center;
    font-size: 25px;
    
    

}
    
#lit{

    border: 3px solid black;
    border-radius: 3px;
}

#lit div p {

    padding: 2em;
    max-width: 35rem ;
    margin: 0 auto;
    padding-top: 0;
    clear: both;
}
#lit div:first-letter{

    color: black;
    font-size: 50px;
    float: left;
    padding: .25em;
    border: 3px inset red;
    border-radius: 10px;
    margin-right: .25em;
    line-height: .60;
    background-image: radial-gradient(red,white);
    box-shadow: 3px 3px 3px;
    text-shadow: 1px 1px 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}


@media screen {min-width: 60 em}