Body{
    font-family:itim;
    background-color:#EBCC7B;
    color: #003EEB;

}



h1,h2,h3,h4,h5,h6 {
    font-family:"Shrikhand";

}

h1{
    font-size: 40pt;
}

h2{
    text-align: center;

}

header{
    display: flex;
    text-align: center;
}

.blue-origami-logo{
   
    margin-left: 0;

}

h1{
    align-content: center;
    text-align: center;

}
/*hero section*/
#hero,footer{
    
    color:#9C9481;
    border:5px double #2449AD  ;
    border-radius:20px;
    margin:40px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    background-color:#4A4129 ;
    padding: 20px;

}

#hero img{
    
    width:250px;
}

/* bio setion*/
#bio {
    border:3px solid #2449AD;
    text-align: center ;
    margin:40px;


}


/* Hobbies */

#hobbies{

    border:3px solid #2449AD;
}
#hobbies ul li:nth-child(even){
    color: black;
    }
    #hobbies ul li:nth-child(odd){
    color: red;
    }
    
    #hobbies ul {
    
        font-size: 20px;
        
    }


/* gallery */ 

#gallery {

    border: 3px solid  #2449AD
    
}
#gallery img{

    max-width: 100%;
    border: 5px solid red;
    border-radius: 20px;
    

}

#gallery figure{

    text-align: center;
    font-size: 25px;
    
    

}
    
#list{

    border: 3px solid black;
    border-radius: 3px;

}